<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arduino - VueJS</title>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark secondary-color">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">HSMART</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> -->

                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="SMARTHOUSE" aria-label="Search" disabled>
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

    <div id="main" class="container text-center">
        <br>
        <h2 class="text-center">MY SMART HOUSE</h2><br>
        <div class="row">


            <div class="col s4">
                <form class="" @submit.prevent="sentData" method="get">
                    <button id="btn7" class=" btn btn-warning" type="submit">
                        <i class="far fa-lightbulb fa-4x "></i>
                    </button>
                </form>
            </div>
            <!-- <div class="col s4">

                <form class="" @submit.prevent="sentData2" method="get">
                    <button id="btn7" class="btn btn-danger" type="submit">
                        <i class="fas fa-power-off fa-4x "></i>
                    </button>
                </form>
            </div>

            <div class="col s2 container">
                <div class="btn btn-warning">
                    <i class="far fa-lightbulb fa-4x "></i>
                </div>
            </div>
            <!-- <div class="col s2">
                <h4>JSON</h4>
                <pre>{{$data}}</pre>
            </div> --> 
            <div class="col s2">
                    <div  v-if="LEDestado.estadoLED8 == 0">
                        <button id="btn7"
                            class="btn btn-danger" type="submit">
                            <i class="fas fa-power-off fa-4x "></i>
                        </button>
                    </div>
                    <div v-else="">
                        <button id="btn7" class="btn btn-success" type="submit">
                            <i class="fas fa-plug fa-4x"></i>
                        </button>
                    </div>
            </div>

            

        </div>

        <!-- HTML PARA EL GARAGE -->
        <div class="row">

            <div class="col s4">
                <form class="" @submit.prevent="sentData2" method="get">
                    <button id="btn7" class=" btn btn-success" type="submit">
                        <i class="fas fa-warehouse fa-3x"></i>
                    </button>
                </form>
            </div>
            <!-- <div class="col s4">

                <form class="" @submit.prevent="sentData2" method="get">
                    <button id="btn7" class="btn btn-danger" type="submit">
                        <i class="fas fa-power-off fa-4x "></i>
                    </button>
                </form>
            </div>

            <div class="col s2 container">
                <div class="btn btn-warning">
                    <i class="far fa-lightbulb fa-4x "></i>
                </div>
            </div>
            <!-- <div class="col s2">
                <h4>JSON</h4>
                <pre>{{$data}}</pre>
            </div> -->
            <div class="col s2">
                <div v-if="LEDestado.estadoLED9 == 0">
                    <button id="btn7" class="btn btn-danger" type="submit">
                        <i class="fas fa-power-off fa-4x "></i>
                    </button>
                </div>
                <div v-else="">
                    <button id="btn7" class="btn btn-success" type="submit">
                        <i class="fas fa-plug fa-4x"></i>
                    </button>
                </div>
            </div>



        </div>
    </div>

    <!-- Footer -->
    <br><br><br>
    <footer class="page-footer font-small blue-grey lighten-5">

        <div class="navbar-dark secondary-color text-center">
            <div class="container text-center">

                <!-- Grid row-->
                <div class="py-4  container">

                    <!-- Grid column -->
                    <div class=" text-center">
                        <h6 class="">Manipulacion de dispositivos electricos desde la nube</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <!-- <div class="col-md-6 col-lg-7 text-center text-md-right"> -->

                        <!-- Facebook -->
                        <!-- <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a> -->
                        <!-- Twitter -->
                        <!-- <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <!-- <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a> -->
                        <!--Linkedin -->
                        <!-- <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a> -->
                        <!--Instagram-->
                        <!-- <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a> --> 

                    <!-- </div> -->
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-1">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <!-- Content --><br><br><br>
                    <h6 class="text-uppercase font-weight-bold">By Willian Alonzo</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p></p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Productos</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!">House Smart</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Desarrollo de sitios web</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Desarrollo de infraestructura de redes</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!"></a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <!-- <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!">Your Account</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Become an Affiliate</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Shipping Rates</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Help</a>
                    </p> -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contactos</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Brando Morales</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> Edi Hernandez</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> Willian Alonzo</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" > </a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js">
    </script>

    <script type="text/javascript">
        //urlData = 'https://randomuser.me/api/?results=7';
        urlData = 'http://192.168.0.104/leer';
        new Vue({
            el: '#main',
            created: function () {
                this.getData();
            },
            data: {
                LEDestado: [],
            },
            methods: {
                getData: function () {
                    this.$http.get(urlData).then(function (response) {
                        //this.LEDestado = response.data.results;
                        this.LEDestado = response.body;
                    });
                },
                sentData: function () {
                    this.$http.get('http://192.168.0.104/led8;').then(function (response) {
                        //this.LEDestado = response.data.results;
                        this.getData();
                        //console.log(this.LEDestado.estadoLED2);

                    });
                },

                sentData2: function () {
                    this.$http.get('http://192.168.0.104/led9;').then(function (response) {
                        //this.LEDestado = response.data.results;
                        this.getData();
                        //console.log(this.LEDestado.estadoLED2);

                    });
                }
            }

        });
    </script>

</body>

</html>